.venv/
__pycache__/
*.pyc

# Build outputs / generated artifacts
build/
*.o
*.out

# Optional local binaries
app
tests/test_assert
tests/test_assert_eq
tests/test_elif
tests/test_for
tests/test_if
tests/test_math
tests/test_selfhost
tests/test_text
tests/test_while
